In [9]:
import warnings
warnings.simplefilter('ignore')
import sys
sys.path.insert(0, '../src/')
import numpy as np
import ukdata as data
from functions import *
import DataProvider 
import uk_dale_meter
import refitdata as refit
from matplotlib import pyplot as plt
import random
import timeit
import matplotlib as mpl
from ploting import *
import matplotlib.dates as dates
import seaborn as sns
%matplotlib inline
latexify(fig_width=8)

In [2]:
#Load fride data
path = "/home/ibcn079/data/ukdale/"
appliance = 'fridge'
aggregate, iam = data.generate_clean_data(path, appliance,buildings=[1,2])
main, app = data.resample_data(main=aggregate, meter=iam)
inputs, targets = np.array(main['aggregate']).flatten(), np.array(app['fridge']).flatten()

/home/ibcn079/data/ukdale/house1/
Reading house: 1
/home/ibcn079/data/ukdale/house2/
Reading house: 2
size of aggregate: 2780373
size of meters: 1687285

In [16]:
fridge = iam
aggregate, kettle = data.generate_clean_data(path, "kettle",buildings=[1,2])

/home/ibcn079/data/ukdale/house1/
Reading house: 1
/home/ibcn079/data/ukdale/house2/
Reading house: 2
size of aggregate: 2780373
size of meters: 2094523

In [22]:
kettle

                       Time  kettle
0       2013-02-17 16:00:22       0
1       2013-02-17 16:00:25       0
2       2013-02-17 16:00:31       0
3       2013-02-17 16:00:37       0
4       2013-02-17 16:00:43       0
5       2013-02-17 16:00:49       0
6       2013-02-17 16:00:55       0
7       2013-02-17 16:01:01       0
8       2013-04-16 21:18:09       1
9       2013-04-16 21:18:15       0
10      2013-04-16 21:18:21       1
11      2013-04-16 21:18:27       1
12      2013-04-16 21:18:33       0
13      2013-04-16 21:18:39       0
14      2013-04-16 21:18:46       0
15      2013-04-16 21:18:52       0
16      2013-04-16 21:18:58       0
17      2013-04-16 21:19:04       0
18      2013-04-16 21:19:10       0
19      2013-04-16 21:19:16       0
20      2013-04-16 21:19:23       1
21      2013-04-16 21:19:29       1
22      2013-04-16 21:19:35       1
23      2013-04-16 21:19:41       1
24      2013-04-16 21:19:47       1
25      2013-04-16 21:19:53       1
26      2013-04-16 21:20:00       1
27      2013-04-16 21:20:06       1
28      2013-04-16 21:20:12       1
29      2013-04-16 21:20:18       1
...                     ...     ...
2094493 2013-10-10 05:12:57       1
2094494 2013-10-10 05:13:04       1
2094495 2013-10-10 05:13:10       1
2094496 2013-10-10 05:13:16       1
2094497 2013-10-10 05:13:22       0
2094498 2013-10-10 05:13:28       0
2094499 2013-10-10 05:13:35       1
2094500 2013-10-10 05:13:41       1
2094501 2013-10-10 05:13:47       1
2094502 2013-10-10 05:13:53       1
2094503 2013-10-10 05:13:59       1
2094504 2013-10-10 05:14:06       1
2094505 2013-10-10 05:14:12       1
2094506 2013-10-10 05:14:18       1
2094507 2013-10-10 05:14:24       1
2094508 2013-10-10 05:14:30       1
2094509 2013-10-10 05:14:36       1
2094510 2013-10-10 05:14:42       1
2094511 2013-10-10 05:14:49       1
2094512 2013-10-10 05:14:55       1
2094513 2013-10-10 05:15:01       1
2094514 2013-10-10 05:15:07       1
2094515 2013-10-10 05:15:13       1
2094516 2013-10-10 05:15:19       1
2094517 2013-10-10 05:15:26       1
2094518 2013-10-10 05:15:32       1
2094519 2013-10-10 05:15:38       1
2094520 2013-10-10 05:15:44       1
2094521 2013-10-10 05:15:50       1
2094522 2013-10-10 05:15:56       1

[2094523 rows x 2 columns]

In [17]:
kettle['2013-05-20 21:28:39':'2013-05-21 21:28:39'].plot()

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [2013-05-20 21:28:39] of <class 'str'>